.carrito{
    margin: 5px;
    padding: 3px;
    border: 1px solid grey;
    border-radius: 10px;   
    box-shadow: 5px 3px 8px rgba(1, 4, 2, 0.5);
    min-height: 102px;
}

.carrito-img{
    padding: 0px;
    
}

.img-carrito{
    width: 100%;    
    max-height: 100px;
    border-radius: 10px;
}

.div-body{
    width: 100%;
}

.card-text{
    color: #8c8c8c;
}

.row>.carrito {
    padding: 0px!important;
}

.span-cantidad{
    padding: 1px 8px;    
}

.cantidad-value{
    width: 18px;
    text-align: center;
}

.div-cantidad{
    width: 100%;   
    gap: 0;     
}

.cantidad-value{
    color: white;
    margin: 0px 5px;
}

.span-precio{
    width: 100%;
    font-size: 1rem;
    color: white!important;
    text-shadow: 2px 2px 3px #1b1b1b;
    padding: 0px;
}

.form-check{
    padding: 0 20%;
}

.carrito-precio{
    padding-right: 0px;    
    min-width: 50px;
}

.check-forma{   
    color: white;
}

label{
    font-size: 1.3rem;
    margin-left: 10px;
}

.divButton{
    flex-direction: column;
    padding: 3vh 0;
}

.divButton>button{
    padding: 10px;
    width: 90%;
    margin: 10px;
}


@media screen and (max-width: 480px){    
    .carrito{
        margin: 5px 1px;
    }

    .img-carrito{
        height: 70%;
    }

    .card-title{
        font-size: 1rem;
    }

    .card-text{
        font-size: 0.75rem;
    }
}