.fecha{
    max-width: 150px;
    margin-right: 20px;
}

.comandasContainer{
    padding: 5px;
}

.comanda{
    font-family: 'Caveat';font-size: 29px;
    margin: 5px;
    padding: 15px 15px 70px 15px;
    border: 1px solid grey;
    border-radius: 10px;   
    box-shadow: 5px 3px 8px rgba(1, 4, 2, 0.5);
    min-height: 102px;
    max-width: 450px;
    height: 100%;
    background: url('/images/comanda.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.comanda-title{
    text-shadow: 3px 3px 4px #999999;  
}

.comanda-body{
    border-bottom: 1px solid grey;  
    padding: 8px;
}

.comanda-guid{    
    padding: 5px;
    color: black;
    font-weight: bolder;
}

.card-text{
    color: #444;  
    font-size: 1.3rem;  
}

.card-fecha{    
    width: 100px;
    margin-right: 1px;   
    font-weight: bolder; 
}

.div-body{
    padding: 3px;
}

.div-fecha{
    padding: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: start;
}

.comanda-mercaderias{
    padding-top: 20px;
    height: 255px;
    overflow-y: scroll;    
}

.row{
    width: +100%;
    margin: 0px;
}

.subtitle{
    color: #555555;
}

.precio{
    padding-top: 15px;
}

.footer{
    position: inherit;
}

#btnBuscar>i{
    margin-right: 5px;
}

.buscar-container, #comandasContainer{
    margin-bottom: 1rem;
    padding: 0.5rem;
}

@media screen and (max-width: 480px){   
    .comanda-guid{   
        font-size: 1rem;
    }

    .fecha{
        margin-right: 2px;
    }

    #btnBuscar{
        font-size: 0.7rem;
        padding: 10px;
    }
}