#categoriasContainer, #formasContainer{
  flex-wrap: wrap;
}

section{
  width: 100%;
}

#formasContainer{
  padding-left: 15px;
}

.banner-container{
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
  box-shadow: 5px 3px 8px rgba(1, 4, 2, 0.5);
  margin-bottom: 1rem;
  box-shadow: 2px 5px 10px rgba(255, 255, 255, 0.5);
}

.banner-img{
  width: 100%;
  max-height: 300px;
  z-index: 100;
}

.categoria-container{
  position: relative;
  text-align: center;
  color: white;
  width: 18%;
  box-shadow: 5px 3px 8px rgba(1, 4, 2, 0.7);
}

.card-menu{
  padding: 10px;
  height: 100%;
  cursor: pointer;
}

.card-menu:hover{
  opacity: 0.7;  
}

.card-menu:hover .icon-block{
  background-color: #005333;
}

.card-menu:hover .light{
  background-color: rgba(0, 0, 0, 0.6);
  border-bottom: 5px solid #005333
}

.icon-block{
  background-color: rgba(52, 165, 0, 0.5);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 5px 3px 8px rgba(1, 4, 2, 0.5);
}

.light{  
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  margin-bottom: 1px;
  padding: 10px;
  height: 100%;
  width: 100%;
  min-height: 320px;
  font-size: 1.3rem;
  border-bottom: 5px solid rgba(52, 165, 0, 0.9);
  box-shadow: 5px 3px 8px rgba(1, 4, 2, 0.5);
}

.title{
  margin-bottom: 0px;
}

.info-container{
  border-right: 1px solid grey;
}

.forma-container{
  position: relative;
  width: 250px;
  box-shadow: 5px 3px 8px rgba(1, 4, 2, 0.5);
}

.formas-container{  
  padding: 10px 0px 20px 0px;
  background-color: rgba(0, 0, 0, 0.5);
}

.categoria-img{
  width: 100%;
  opacity: 0.8;
  height: 180px;
  z-index: 100;
}

.forma-img{
  width: 100%;
  height: 180px;
}

.categoria-img:hover{
  opacity: 0.4;
  cursor: pointer;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}

.categoria-container:hover .centered{
  z-index: -1; 
}

.banner-centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6rem;
}
.info-container li{
  padding: 3px;
  margin: 3px;
}

.info-list-container a{
  text-decoration: none;  
  font-size: 1.2rem;
  color: #999999;
  padding: 3px 6px;  
}

.info-list-container a:hover{
  background-color: rgba(0,0,0,0.1);
  border-radius: 5px;
  cursor: pointer;
}


@media screen and (max-width: 800px){
  .row{
    max-width: 100vw;
    margin-left: 0px;
  }

  .categoria-container {
    width: 100%;
  }

  .banner-centered{
    font-size: 3rem;
  }

  #categoriasContainer{
    width: 100VW;
  }

  .forma-container{    
    width: 30%;
    height: 100px;    
  }

  .forma-img{
    width: 100%;
    height: 100px;
  }
  
  .info-container{
    border-right: 0px solid grey;
    border-bottom: 1px solid grey;
  }
}