.modal-dialog{
    height: 100%;
}

#modalMercaderiaBody{
    height: 90%;
    padding: 2rem;
    /* background: -webkit-linear-gradient(90deg , #fff6b8,#d5ffb3);  */
}

/* .modal-header, .modal-footer{
    background: -webkit-linear-gradient(270deg , #fff6b8,#d5ffb3); 
}

.modal-body{
    background: -webkit-linear-gradient(90deg , #fff6b8,#d5ffb3); 
} */

.mercaderia-imagen{
    width: 100%;
    max-height: 50vh;    
    margin-bottom: 5px;
}

.detalle-categoria{
    color: #6f6f6f;
}

.detalle-precio{
    cursor: default!important;
    font-size: 30px!important;
    color: white!important;
    text-shadow: 3px 3px 4px black;
    width: 93%;
    padding: 1px;
    margin-bottom: 10px;
}

.detalle-nombre{
    background: -webkit-linear-gradient(180deg , #7e7e7e,#3c3c3c);    
    border-radius: 5px;
    color: white;
    text-shadow: 3px 3px 4px black;        
    width: 93%;
    padding: 5% 5%;
    text-align: center;
}

.popupText{
    font-size: 1.5rem;
}


@media screen and (max-width: 480px){    
    #modalMercaderiaBody{
        padding: 2px;
    }

    #detalle-body{
      margin-left: 10px;
    }

    .bi{
      margin: 0px;
    }
}