body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif!important;
  background: -webkit-linear-gradient(180deg , #5d5d5d,#3c3c3c);
  height: 100%;
  margin-top: 54px;
}

.btn{
  box-shadow: 0px 2px 8px rgba(1, 4, 2, 0.5);
  border-radius: 3px!important;
}

.bi{
  margin-right: 5px;
}

.spacer {
  width: 2rem;
}

.text-center{
  text-align: center;
}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 1rem;
}

.flex-end{
  display: flex;
  align-items: end;
  justify-content: end; 
}

.flex-space{
  display: flex;
  align-items: center;
  justify-content: space-between; 
  gap: 1rem;
}

#title{
  background: -webkit-linear-gradient(45deg , #000000,#444444);    
  color: white!important;
  text-shadow: 3px 3px 4px black;
  margin: 34px 0px 20px 0px;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  box-shadow: 2px 3px 5px rgba(19, 255, 98, 0.3);
}

.title{
  color: white!important;
  text-shadow: 3px 3px 4px black;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.icon-list{
  display: flex!important;
  justify-content: center;
  flex-direction: row!important;
}
  
.modal-dialog{
  height: 100%;
}

.modal-open{
  height: 100%;
  overflow: scroll;
}

#div-confirmar{
  border: 1px solid grey;
  height: 100%;
  border-radius: 10px;
  margin: 5px; 
  box-shadow: 5px 3px 8px rgba(1, 4, 2, 0.5);
}

.divTituloCarrito{
  border: 1px solid grey;
  border-radius: 10px;
  margin: 0px; 
  padding: 15px 5px; 
  box-shadow: 5px 3px 8px rgba(1, 4, 2, 0.5);
}

.divTituloCarrito>div{
  padding: 0px;
  margin: 0px;
}

#carrito-container{
  display: none;
  margin-top: 10px;
}


@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

@media screen and (max-width: 480px){   
  .bi{
    margin: 0px;
  }    
  #title{
    margin: 10px 0px 20px 0px;
  }
  #cardContainer{
    padding-left: 25px;
  }
}