  body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif!important;
    background: -webkit-linear-gradient(180deg , #7e7e7e,#3c3c3c);
    height: 100%;
  }
  
  .btn{
    box-shadow: 0px 2px 8px rgba(1, 4, 2, 0.5);
    border-radius: 3px!important;
  }
  
  .bi{
    margin-right: 5px;
  }
  
  #title{
    background: -webkit-linear-gradient(45deg , #000000,#444444);    
    color: white!important;
    text-shadow: 3px 3px 4px black;
    margin: 34px 0px 20px 0px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
  }

  .search{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .search *{
    margin: 0px 10px 0px 0px;
  }
  
  .icon-list{
    display: flex!important;
    justify-content: center;
    flex-direction: row!important;
  }

  #main-container{
    padding: 0px 35px;
  }

  .flex-center{
    display: flex;
    align-items: center;
    justify-content: center; 
  }

  #btnSearch{
    display: flex;
    flex-direction: row;    
  }

  .spacer {
    width: 2rem;
  }

  .text-center{
    text-align: center;
  }

  #select-orden,  #select-categoria{
    max-width: 200px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }

    .sidenav a {
      font-size: 18px;
    }
  }

  @media screen and (max-width: 480px){    
    #main-container{
      padding: 0px;
      width: 100%;
    }
    .bi{
      margin: 0px;
    }    
    #title{
      margin: 10px 0px 20px 0px;
    }
    .search{
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }
    .search > *{
      margin: 0px 10px 10px 0px;
    }
    #btnSearch{
      display: block;
      flex-direction: row;    
      width: 100%;
    }
    #btnSearch>i{
      margin-right: 5px;
    }
    #select-orden,  #select-categoria{
      max-width: 380px;
    }
  }