<div class="row divTituloCarrito">
    <div class="col-12">
        <h3 id="tituloCarrito"></h3>
    </div>
    <div id="carrito-lista" class="col-lg-8 col-12">
        <div class="" id="carritoContainer">
            <!-- cardMercaderia.js -->
        </div>
    </div>
    <div id="carrito-confirmacion" class="col-lg-4 col-12">
        <div class="" id="div-confirmar">
            <h3 class="title">Confirmar pedido</h1>
            <hr>           
            <div class="container-fluid">
                <h5 class="text-center title">Forma de Entrega</h5>
                <div class="form-check check-forma">
                    <div class="form-check">
                        <img src="../images/forma-entrega/Salon.jpg" alt="Salon" class="forma-img">
                        <input class="form-check-input" type="radio" name="check-entrega" id="1" checked> 
                        <label class="form-check-label" for="1">
                          Salón
                        </label>
                      </div>
                      <hr>
                      <div class="form-check">
                        <img src="../images/forma-entrega/Delivery.jpg" alt="Salon" class="forma-img">
                        <input class="form-check-input" type="radio" name="check-entrega" id="2">
                        <label class="form-check-label" for="2">
                          Delivery
                        </label>
                    </div>
                    <hr>
                    <div class="form-check">
                        <img src="../images/forma-entrega/Pedidos-Ya.jpg" alt="Salon" class="forma-img">
                        <input class="form-check-input" type="radio" name="check-entrega" id="3">
                        <label class="form-check-label" for="3">
                          PedidosYa
                        </label>
                    </div>
                </div>
            </div>
            <hr>
            <div class="container">
                <div class="flex-center border">
                    <h5 class="title">Total: </h4>
                    <h5 class="title" id="precio-total"></h4>
                </div>
            </div>
            <hr>
            <div class="flex-center divButton">
                <button id="btnConfirmarPedido" class="btn btn-success"><i class="bi bi-cash-coin"></i>Confirmar</button>
                <button id="btnCancelarPedido" class="btn btn-danger"><i class="bi bi-trash"></i>Cancelar</button>
            </div>
        </div>
    </div>

</div>