
    <div class="categoria-container" id="1">
        <img src="images/categorias/01-Entradas.jpg" alt="Entradas" class="categoria-img">
        <div class="centered title">Entradas</div>
    </div>

    <div class="categoria-container" id="2">
        <img src="images/categorias/02-Minutas.jpg" alt="Minutas" class="categoria-img">
        <div class="centered title">Minutas</div>
    </div>

    <div class="categoria-container" id="3">
        <img src="images/categorias/03-Pastas.jpg" alt="Pastas" class="categoria-img">
        <div class="centered title">Pastas</div>
    </div>

    <div class="categoria-container" id="4">
        <img src="images/categorias/04-Parrilla.jpg" alt="Parrilla" class="categoria-img">
        <div class="centered title">Parrilla</div>
    </div>

    <div class="categoria-container" id="5">
        <img src="images/categorias/05-Pizzas.jpg" alt="Pizzas" class="categoria-img">
        <div class="centered title">Pizzas</div>
    </div>

    <div class="categoria-container" id="6">
        <img src="images/categorias/06-Sandwich.jpg" alt="Sandwich" class="categoria-img">
        <div class="centered title">Sandwich</div>
    </div>

    <div class="categoria-container" id="7">
        <img src="images/categorias/07-Ensaladas.jpg" alt="Ensaladas" class="categoria-img">
        <div class="centered title">Ensaladas</div>
    </div>

    <div class="categoria-container" id="8">
        <img src="images/categorias/08-Bebidas.jpg" alt="Bebidas" class="categoria-img">
        <div class="centered title">Bebidas</div>
    </div>

    <div class="categoria-container" id="9">
        <img src="images/categorias/09-Cerveza.jpg" alt="Cerveza" class="categoria-img">
        <div class="centered title">Cerveza</div>
    </div>

    <div class="categoria-container" id="10">
        <img src="images/categorias/10-Postres.jpg" alt="Postres" class="categoria-img">
        <div class="centered title">Postres</div>
    </div>

