
<article class="card-categoria grid-container" id="1">
    <div class="card-thumb">
        <img src="images/categorias/01-Entradas.jpg" alt="Entradas" class="categoria-img">
    </div>
    <div class="card-content flex-center">
        <h2>Entradas</h2>
    </div>
</article>

<article class="card-categoria grid-container" id="2">
    <div class="card-thumb">
        <img src="images/categorias/02-Minutas.jpg" alt="Minutas" class="categoria-img">
    </div>
    <div class="card-content flex-center">
        <h2>Minutas</h2>
    </div>
</article>

<article class="card-categoria grid-container" id="3">
    <div class="card-thumb">
        <img src="images/categorias/03-Pastas.jpg" alt="Pastas" class="categoria-img">
    </div>
    <div class="card-content flex-center">
        <h2>Pastas</h2>
    </div>
</article>
 
<article class="card-categoria grid-container" id="4">
    <div class="card-thumb">
        <img src="images/categorias/04-Parrilla.jpg" alt="Parrilla" class="categoria-img">
    </div>
    <div class="card-content flex-center">
        <h2>Parrilla</h2>
    </div>
</article> 
 
<article class="card-categoria grid-container" id="5">
    <div class="card-thumb">
        <img src="images/categorias/05-Pizzas.jpg" alt="Pizzas" class="categoria-img">
    </div>
    <div class="card-content flex-center">
        <h2>Pizzas</h2>
    </div>
</article> 

<article class="card-categoria grid-container" id="6">
    <div class="card-thumb">
        <img src="images/categorias/06-Sandwich.jpg" alt="Sandwich" class="categoria-img">
    </div>
    <div class="card-content flex-center">
        <h2>Sandwich</h2>
    </div>
</article> 

<article class="card-categoria grid-container" id="7">
    <div class="card-thumb">
        <img src="images/categorias/07-Ensaladas.jpg" alt="Ensaladas" class="categoria-img">
    </div>
    <div class="card-content flex-center">
        <h2>Ensaladas</h2>
    </div>
</article> 

<article class="card-categoria grid-container" id="8">
    <div class="card-thumb">
        <img src="images/categorias/08-Bebidas.jpg" alt="Bebidas" class="categoria-img">
    </div>
    <div class="card-content flex-center">
        <h2>Bebidas</h2>
    </div>
</article> 

<article class="card-categoria grid-container" id="9">
    <div class="card-thumb">
        <img src="images/categorias/09-Cerveza.jpg" alt="Cerveza" class="categoria-img">
    </div>
    <div class="card-content flex-center">
        <h2>Cerveza</h2>
    </div>
</article> 

<article class="card-categoria grid-container" id="10">
    <div class="card-thumb">
        <img src="images/categorias/10-Postres.jpg" alt="Postres" class="categoria-img">
    </div>
    <div class="card-content flex-center">
        <h2>Postres</h2>
    </div>
</article>
