<div class="modal fade" id="modalMercaderia" tabindex="-1" role="dialog" aria-labelledby="modalMercaderiaTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
      <div class="modal-content modalMercaderiaContent">
        <div class="modal-header">
          <h5 class="modal-title" id="modalMercaderiaTitle"></h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id ="modalMercaderiaBody" class="modal-body">
          
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button> -->
          <select id="select-cantidad" class="select-cantidad" aria-label="select-cantidad">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
          <button type="button" class="btn btn-success card-button" name="buttonAdd">Agregar</button>
        </div>
      </div>
    </div>
  </div>